/*Get rid of TOC stuff from https://github.com/rstudio/bookdown/issues/1251 */

.book .book-body .page-wrapper .page-inner {
  max-width: 100% !important;
}

.book.with-summary .book-header.fixed {
    left: 0% !important;
}

.book.with-summary .book-body {
    left: 0% !important;
}

.book.with-summary .book-summary {
    width: 0% !important;
}

.book-body.fixed > div > .book-header.fixed > a:nth-child(1) {
  visibility: hidden;
}
